Django==1.6.5
amqp==1.4.6
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.19
celery==3.1.17
dj-database-url==0.3.0
dj-static==0.0.6
django-toolbelt==0.0.1
gunicorn==19.0.0
kombu==3.0.24
psycopg2==2.5.3
pytz==2014.10
redis==2.10.3
requests==2.3.0
static3==0.5.1
wsgiref==0.1.2
